.twitter-widget.widget
    .title-widget twitter feed
    .content-widget
        .twitter-widget-wrapper
            .item
                .twitter-news-feed
                    .avatar
                        a(href="#")
                            img.img-responsive(src="assets/images/more-images/avatar-1.jpg", alt="")
                    .content
                        a.logo-twitter(href="#")
                            i.fa.fa-twitter
                        a.name(href="#") dean swanson
                        .email @deanswanson
                        .description
                            a.link(href="#") @dailymagz, 
                            span.text An exclusive look at Instagram's new app icon.
                        ul.list-inline.list-unstyled.more-info
                            li
                                a.link.favorite(href="#")
                                    i.fa.fa-heart
                            li
                                a.link.share(href="#")
                                    i.fa.fa-share-alt
                        .time-post 5 mins ago
                        a.link-pages(href="#")
            .item
                .twitter-news-feed
                    .avatar
                        a(href="#")
                            img.img-responsive(src="assets/images/more-images/avatar-2.jpg", alt="")
                    .content
                        a.logo-twitter(href="#")
                            i.fa.fa-twitter
                        a.name(href="#") jackson sutton
                        .email @jacksonsutton
                        .description
                            a.link(href="#") @dailymagz, 
                            span.text An exclusive look at Instagram's new app icon.
                        ul.list-inline.list-unstyled.more-info
                            li
                                a.link.favorite(href="#")
                                    i.fa.fa-heart
                            li
                                a.link.share(href="#")
                                    i.fa.fa-share-alt
                        .time-post 20 mins ago
                        a.link-pages(href="#")
